<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>library-management-system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pkg1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveUser</display-name>
    <servlet-name>ReceiveUser</servlet-name>
    <servlet-class>pkg1.ReceiveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveUser</servlet-name>
    <url-pattern>/ReceiveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveLibrarain</display-name>
    <servlet-name>ReceiveLibrarain</servlet-name>
    <servlet-class>pkg1.ReceiveLibrarain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveLibrarain</servlet-name>
    <url-pattern>/ReceiveLibrarain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>pkg1.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>pkg1.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllUser</display-name>
    <servlet-name>DisplayAllUser</servlet-name>
    <servlet-class>pkg1.DisplayAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllUser</servlet-name>
    <url-pattern>/DisplayAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportAll</display-name>
    <servlet-name>ExportAll</servlet-name>
    <servlet-class>pkg1.ExportAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportAll</servlet-name>
    <url-pattern>/ExportAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>pkg1.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllLibrariansServlet</display-name>
    <servlet-name>DisplayAllLibrariansServlet</servlet-name>
    <servlet-class>pkg1.DisplayAllLibrariansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllLibrariansServlet</servlet-name>
    <url-pattern>/DisplayAllLibrariansServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookServlet</display-name>
    <servlet-name>IssueBookServlet</servlet-name>
    <servlet-class>pkg1.IssueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookServlet</servlet-name>
    <url-pattern>/IssueBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>pkg1.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveBook</display-name>
    <servlet-name>ReceiveBook</servlet-name>
    <servlet-class>pkg1.ReceiveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveBook</servlet-name>
    <url-pattern>/ReceiveBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>pkg1.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBook</display-name>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>pkg1.UpdateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBook</display-name>
    <servlet-name>deleteBook</servlet-name>
    <servlet-class>pkg1.deleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBook</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBook</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>pkg1.DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllBook</display-name>
    <servlet-name>DisplayAllBook</servlet-name>
    <servlet-class>pkg1.DisplayAllBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllBook</servlet-name>
    <url-pattern>/DisplayAllBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveBBook</display-name>
    <servlet-name>ReceiveBBook</servlet-name>
    <servlet-class>pkg1.ReceiveBBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveBBook</servlet-name>
    <url-pattern>/ReceiveBBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBBook</display-name>
    <servlet-name>SearchBBook</servlet-name>
    <servlet-class>pkg1.SearchBBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBBook</servlet-name>
    <url-pattern>/SearchBBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBBookA</display-name>
    <servlet-name>SearchBBookA</servlet-name>
    <servlet-class>pkg1.SearchBBookA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBBookA</servlet-name>
    <url-pattern>/SearchBBookA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookS</display-name>
    <servlet-name>SearchBookS</servlet-name>
    <servlet-class>pkg1.SearchBookS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookS</servlet-name>
    <url-pattern>/SearchBookS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllBookS</display-name>
    <servlet-name>DisplayAllBookS</servlet-name>
    <servlet-class>pkg1.DisplayAllBookS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllBookS</servlet-name>
    <url-pattern>/DisplayAllBookS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBorrowedBookS</display-name>
    <servlet-name>DisplayBorrowedBookS</servlet-name>
    <servlet-class>pkg1.DisplayBorrowedBookS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBorrowedBookS</servlet-name>
    <url-pattern>/DisplayBorrowedBookS</url-pattern>
  </servlet-mapping>
</web-app>